{% extends "petadoption1/layout.html"%}

{% block body %}

    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            <h1>Welcome to our pet adoption and sales platform! 🐾 </h1>
            <p>Here, you'll find a loving community dedicated to connecting adorable pets with caring owners like you. Whether you're looking to give a furry friend a forever home or seeking a new addition to your family, we're here to help make the process easy and enjoyable. Browse through our extensive listings of pets available for adoption or sale, and discover your perfect match.</p>
            <button class="sign-up"> Sign Up </button>
        </div>
    </section>
    <!-- End Hero section -->


    <!-- About Us section -->
    <section class="about-us">
        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            
        </div>
    </section>
    <!-- End About Us section -->
{%endblock%}