.navbar{
    background-color: #fff;
    height: 90px;
    margin: 20px;
    padding: .5rem;
    border-radius: 50px;
}
.login-button{
    background-color: 	#515ec4;
    color: #fff;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover {
    background-color: 	#191f64;
}


.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color:	#8ba5f3;
    font-weight: 500;
    position: relative;
}


.nav-link:hover, .nav-link.active{
    columns:#000;
}

@media (min-width: 991px) {

    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color:#515ec4 ;
        visibility: hidden;
        transition:0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.hero-section{
    background: url(bg1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
    text-align: center;
    margin: 30px 0;
}

.hero-section p{
    font-size: .5em;
    text-align: center;
    margin: 30px 0;
}


.hero-section button {
    --color:#515ec4;
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    margin: 20px;
    padding: 0 40px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 50px;
    font-weight: 500;
    color: var(--color);
}
   
.hero-section button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.hero-section button:hover {
    color: #fff;
}

.hero-section button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.hero-section button:hover:before {
    top: -30px;
    left: -30px;
}

.hero-section button:active:before {
    background: #515ec4;
    transition: background 0s;
}

.footer{
    background-color: #fff;
    margin: 20px;
    height: 200px;
}
.footer p{
    font-size: 17px;
}

.news-letter {
    height: 10px;
}
.news-letter:focus{
    box-shadow: none;
    outline: none;
}

@media (max-width: 991px) {
    .categories {
        display: none;
    }
}