span{
    color: #8ba5f3;
}

.navbar{
    background-color: #fff;
    height: 90px;
    margin: 20px;
    padding: .5rem;
    border-radius: 50px;
}
.login-button{
    background-color: 	#515ec4;
    color: #fff;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}
.login-button:hover {
    background-color: 	#191f64;
}


.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color:	#8ba5f3;
    font-weight: 500;
    position: relative;
}


.nav-link:hover, .nav-link.active{
    columns:#000;
}

@media (min-width: 991px) {

    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color:#515ec4 ;
        visibility: hidden;
        transition:0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.hero-section{
    background: url(bg1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;

}

/* .hero-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

} */

.hero-section .container {
    height: 120vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
    text-align: center;
    /* margin: 30px 0; */
    margin-bottom: 30px;
    margin-top: 70px;
}

.hero-section p{
    font-size: .5em;
    text-align: center;
    margin: 30px 0;
}


.hero-section button {
    --color:#515ec4;
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    margin: 20px;
    padding: 0 40px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 50px;
    font-weight: 500;
    color: var(--color);
}
   
.hero-section button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.hero-section button:hover {
    color: #fff;
}

.hero-section button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.hero-section button:hover:before {
    top: -30px;
    left: -30px;
}

.hero-section button:active:before {
    background: #515ec4;
    transition: background 0s;
}

.footer{
    background-color: #fff;
    margin: 20px;
    height: 200px;
}
.footer p{
    font-size: 17px;
}

.news-letter {
    height: 10px;
}
.news-letter:focus{
    box-shadow: none;
    outline: none;
}

.about-us {
    height: 170vh;
    padding: 50px 0;
    background-color: #515ec4;

}

.about-us .col{
    margin: 20px 0;

}

.featured {
    padding: 50px 0;
    background-color: #fff;
}
.featured .container, .more-like-this .container{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured .img, .more-like-this .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured h1{
    text-align: center;

}
.featured span{
    color: #191f64;
}

.featured .col, .more-like-this .col {
    box-shadow: 0px 0px 20px  rgba(187, 187, 187, 0.555); 
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 20px;
    transition: .5s;
}

.featured .col:hover, .more-like-this .col:hover {
    transform: scale(1.1); /* You can adjust the scale factor as needed */
}


section{
    background: #fff ;
    padding: 0 20px 0 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* margin-top: 200px;
    margin-bottom: 50px;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  rgba(125, 125, 125, 0.555); */
}

.side-image-login{
    background-image: url(login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}
.side-image-signup{
    background-image: url(logincat2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

/* .text{
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #191f64;
    transform: translate(-50%, -50% );

} */
.main .row{
    width: 900px;
    border-radius: 10px;
    background: #ffffff;
    height: 550px;
    box-shadow: 0px 0px 20px  rgba(125, 125, 125, 0.555); 
}
.main .text{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-top: 50px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box{
    width: 330px ;
    box-sizing: border-box;
}

.input-box header {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px ;

}
.category {
    margin: 30px 0;
}
.category label{
    position: absolute;
    top: -30px;
    left: 10px;
    font-size: small;
}

.input{
    height: 45px;
    width: 100%;
    background: transparent;
    outline: none;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    color: #000;


}
label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    top: -10px;
    font-size: 12px;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #000000;

}
.push{
    margin-top: 150px;
}
.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #515ec4;
    border-radius: 20px;
    transition: .4s;
    color: #fff;
}
.submit:hover{
    background: #191f64;
}

.login{
    text-align: center;
    font-size: small;
    margin-top: 20px;

}
span a{
    text-decoration: none;
    font-weight: 700;
    color: #191f64;
    transition: .5s;
}
span a:hover{
    text-decoration: underline;
    color: #191f64;
}
.pass-missmatch{
    font-size: small;
    margin-bottom: 10px;
    color: red;

}
.marketplace-form{
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  rgba(187, 187, 187, 0.555); 
}


.marketplace-form header,
.pet-disp header{
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 25px;

}

.pet-disp{
    margin: 30px 0;

}
.pet-disp .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pet-disp .col{
    box-shadow: 0px 0px 20px  rgba(187, 187, 187, 0.555); 
    margin: 20px 20px;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .5s;
}
.pet-disp .col:hover{
    transform: scale(1.05);
}
.pet-disp .img{
    display: flex;
    justify-content: center;
    margin: 10px 10px;

}

.pet_page{
    margin-top: 200px;
    margin-bottom: 100px;

}
.pet_page h5{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.pet_page p{
    text-align: center;
    font-weight: 700;
}

.pet_page .img{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments{
    margin: 40px 0;
}
.more-like-this h1,.comment-disp h1 {
    font-size: 25px;
    font-weight: 700;
    font-size: 25px; 
    text-align: center;

}
.more-like-this p{
    font-weight: 700;

}

.more-like-this{
    background: #fff;
    padding-top: 40px;
}
.comment-disp h5{
    font-size: 20px;
    font-weight: 700;
}
.comment-disp .top{
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-disp .container{
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0px 0px 20px  rgba(187, 187, 187, 0.555); 
    transition: .5s;
}

.comment-disp .container:hover{
    transform: scale(1.05); 
}

.category{
    display: flex;
    justify-content: center;
}

.category .col{
    margin: 20px 30px;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100px;
    box-shadow: 0px 0px 20px  rgba(187, 187, 187, 0.555); 
    transition: .5s;
}
.category .col:hover{
    transform: scale(1.05); 
}

.our-team{
    background: #8ba5f3;
    margin: 30px 0;
    padding: 50px 0;
}
.our-team .container{
    display: flex;
    justify-content: center;
}
.our-team .col{
    margin: 20px 10px;
}
.our-team .img{
    border-radius: 50%;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
}
.our-team img{
    border-radius: 50%;
    transition: .5s;
}
.our-team span{
    color: #515ec4;
}
.our-team .text{
    font-weight: 700;
    margin: 10px 0;

}

.our-team img:hover{
    transform: scale(1.08);
}
.contact_us{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact_us header{
    font-weight: 700;
    text-align: center;
    font-size: 30px;

}
.contact_us .row .col{
    margin: 50px 50px;
    min-width: 300px;
    /* border-width: 2px;
    border-style: solid; */
}



@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    .row{
        max-width: 420px;
        width: 100%;
    }
    .marketplace-form{
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .marketplace-form header{
        font-size: 20px;
    }
    .contact_us header{
        font-size: 20px;
    
    }
}

@media (max-width: 768px) {
    .categories {
        display: none;
    }
    .about-us {
        height: 120vh;
    }
    
    /* .featured {
        
    } */
    
}

.about-us h1{
    text-align: center;
}
.about-us p {
    text-align: center;
    margin: 30px 0;
    padding: 20px;
}
.space {
    height: 20vh;
}
